.App {
  font-family: 'Nunito', sans-serif;
  color: #413e41;
}

.primary-size {
  font-size: 4em;
}

.second-size {
  font-size: 2em;
}

.title {
  text-align: center;
  padding-top: 2em;
}

.title2 {
  text-align: center;
  padding-top: 0.5em;
}

